[user]
  name = Alex Pearce
  email = alex@alexpearce.me
[core]
  editor = nvim
  excludesfile = ~/.gitignore
  pager = delta
[color]
  ui = true
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  line-numbers = true
  syntax-theme = Nord
[push]
  default = simple
[pull]
  ff = only
[alias]
  lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
# Clone git repos with URLs like "gh:alexpearce/dotfiles"
[url "https://github.com/"]
  insteadOf = "gh:"
[url "git@github.com:"]
  pushInsteadOf = "gh:"
# Clone CERN GitLab repos with URLs like "gl:lhcb/Hlt"
[url "ssh://git@gitlab.cern.ch:7999/"]
  insteadOf = "gl:"
# Clone Arch User Repository repos with URLs like "aur:neomutt"
[url "https://aur.archlinux.org/"]
  insteadOf = "aur:"
