[user]
  name = Alex Pearce
  email = alex@alexpearce.me
[credential]
  helper = osxkeychain
[core]
  editor = vim
  excludesfile = ~/.gitignore
[color]
  ui = true
[push]
  default = simple
[alias]
  lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
